<ul id="toc">
	<li><a href="#generalInformation">{{localizationService.translation.tabs.information.sections.generalInformation.caption}}</a></li>
	<li><a href="#preview">{{localizationService.translation.tabs.information.sections.preview.caption}}</a></li>
	<li><a href="#workingWithEditor">{{localizationService.translation.tabs.information.sections.workingWithEditor.caption}}</a></li>
	<li><a href="#usingInTheGame">{{localizationService.translation.tabs.information.sections.usingInTheGame.caption}}</a></li>	
</ul>

<h3 id="generalInformation">{{localizationService.translation.tabs.information.sections.generalInformation.caption}}</h3>

<h5>{{localizationService.translation.tabs.information.sections.generalInformation.content[0]}}</h5>
<a href="#toc">{{localizationService.translation.tabs.information.toc}}</a><p></p>

<h3 id="preview">{{localizationService.translation.tabs.information.sections.preview.caption}}</h3>

<img src="assets/screenshot.png" alt="preview" width="560" />
<p></p>
<iframe width="560" height="315" [src]="safeYoutubeUrl" frameborder="0" allowfullscreen></iframe>

<p *ngFor="let str of localizationService.translation.tabs.information.sections.preview.content">
	{{str}}
</p>
<a href="#toc">{{localizationService.translation.tabs.information.toc}}</a><p></p>

<h3 id="workingWithEditor">{{localizationService.translation.tabs.information.sections.workingWithEditor.caption}}</h3>

<p *ngFor="let str of localizationService.translation.tabs.information.sections.workingWithEditor.content">
	{{str}}
</p>
<textarea style="width: 100%;" rows="20" readonly>
"RadialMenu"
{
	"Default"
	{
		"NorthWest"
		{
			"command"	"radialmenu Submenu1"
			"text"		"Submenu1"
		}
		"Center"
		{
			"command"	""
			"text"		"^_^"
		}
	}
	"Submenu1"
	{
		"NorthEast"
		{
			"command"	"radialmenu Submenu2"
			"text"		"Submenu2"
		}
		"Center"
		{
			"command"	"radialmenu Default"
			"text"		"back"
		}
		"SouthWest"
		{
			"command"	"cl_emote 6"
			"text"		"cl_emote 6"
		}
	}
	"Submenu2"
	{
		"Center"
		{
			"command"	"radialmenu Submenu1"
			"text"		"back"
		}
		"SouthWest"
		{
			"command"	"cl_emote 5"
			"text"		"cl_emote 5"
		}
	}
}
</textarea>

<a href="#toc">{{localizationService.translation.tabs.information.toc}}</a><p></p>

<h3 id="usingInTheGame">{{localizationService.translation.tabs.information.sections.usingInTheGame.caption}}</h3>
<p *ngFor="let str of localizationService.translation.tabs.information.sections.usingInTheGame.content">
	{{str}}
</p>
<a href="#toc">{{localizationService.translation.tabs.information.toc}}</a>