<div *ngIf="model; else elseBlock">
	<div class="itemDescription">
		<b>{{model!.label}}</b> <span *ngIf="localizationService.currentLanguage !== getDefaultLanguage()"> ({{getLocalizedItemLabel(model!.label)}}) </span>
	</div>

	<div class="itemDescription">
		{{localizationService.translation.tabs.editor.menu.item.text}}: <input type="text" [(ngModel)]="model!.text" class="form-control form-control-sm"/>
	</div>
	
	<div class="itemDescription">
		{{localizationService.translation.tabs.editor.menu.item.command}}: <input type="text" [(ngModel)]="model!.command" class="form-control form-control-sm" /> 
	</div>

	<div class="itemDescription" *ngIf="shouldContainEnabledCheckbox()">
		<label>{{localizationService.translation.tabs.editor.menu.item.enabled}}: <input type="checkbox" [(ngModel)]="model!.enabled" /></label> 
	</div>
</div>

<ng-template #elseBlock>
	<div> no model </div>
</ng-template>