<div class="container">

	<h2>ASRD Radial menu editor</h2>

	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link" [ngClass]="activeTabIndex === 0 ? 'active' : ''" (click)="setEditorView()">Editor</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [ngClass]="activeTabIndex === 1 ? 'active' : ''" (click)="setResultView()">Result</a>
		</li>
	</ul>

	<div *ngIf="activeTabIndex === 0" class="content">
		<details name="menus" *ngFor="let menu of menus; let i = index" [open]="i === menus.length-1">
			<summary>Menu label: <b>{{menu.label}}</b></summary>
			<app-menu [model]="menu" [index]="i" (onRemoveMenu)="removeMenu($event)"></app-menu>
		</details>

		<button (click)="addMenu()" class="btn btn-sm btn-outline-secondary">Add menu</button>
		<!-- <button (click)="generate()" class="btn btn-sm btn-outline-secondary" [disabled]="menus.length === 0">Generate</button> -->
	</div>

	<div *ngIf="activeTabIndex === 1" class="content">

		<table class="table table-bordered">
			<thead>
				<th>RadialMenu.txt</th>
				<th>JSON</th>
			</thead>
			<tbody>
				<tr>
					<td width="50%">
						<textarea style="width: 100%; height: 100%;" rows="20" [(ngModel)]="result" readonly>
						</textarea>
					</td>
					<td>
						<textarea style="width: 100%; height: 100%;" rows="20" [(ngModel)]="result" readonly>
												</textarea>
					</td>
				</tr>
		</table>



	</div>


</div>
<router-outlet></router-outlet>