<hr>

<details name="menus" *ngFor="let menu of menus; let i = index" [open]="i === menus.length-1">
	<summary>Menu label: <b>{{menu.label}}</b></summary>
	<app-menu [model]="menu" [index]="i" (onRemoveMenu)="removeMenu($event)"></app-menu>
</details>

<button (click)="addMenu()">Add menu</button>
<button (click)="generate()" [disabled]="menus.length === 0">Generate</button>

<textarea style="width: 100%; height: 100%;" rows="20" [(ngModel)]="result" readonly></textarea>

<hr>

<router-outlet></router-outlet>
